
/*------------Modal---------*/

#modal-container{
    display: none;
    padding-top: 1%;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
}
#modal-content{
    margin: 0px auto;
    display: block;
}
#modal-caption{
    text-align: center;
    background: white;
    margin: auto;
    font-size: 25px;
    padding: 10px 0px 10px 0px;
}
#modal-close{
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 30px;
    color: white;
    font-weight: bold;
}
#modal-close:hover{
    transform: scale(1.5);
    cursor: pointer; 
}
/*---------Mobile-------------------------*/
@media all and (max-width: 768px){

    /*-----------Header--------*/
    header {
        display: flex;
        border-style: solid;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    #check-theme{
        flex-grow: 1;
        margin: 5px;
        padding: 5px;
    }
    #title{
        flex-grow: 4;
        font-size: 70px;
        margin: 5px;
        padding: 5px;
    }

    /*------------Main-----------*/
    main{
        flex-direction: column;
        border-style: solid;
        margin: 5px 0px;
    }    
    nav{
        display: block;
        text-align: center;
    }
    #sub-title{
        font-size: 35px;
        margin: 5px;
    }
    #links{
        border-bottom: solid;
        margin: 5px 0px;
        padding: 5px;
    }
    li:hover{
        cursor: pointer;
        position: relative;
        left: 0px;
        transform: scale(1.2);
        color: white;
    }
    #search-bar{
        display: flex;
    }
    #search-block{
        flex-grow: 1;
    }
    button{
        margin: 5px;
        padding: 5px;
    }
    #thumbnails{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 5px;
        padding: 5px;
    }
    figure{
        font-size: 12px;
        text-align: center;
        margin: 5px;
        padding: 5px;
    }
    #thumbnails img {
        width: 150px;
        height: 150px;
    }
    #recent-view{
        text-align: center;
        border-top: solid;
    }
    #recent{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #recent-view figure{
        padding: 5px;
    }
    #recent-view img{
        width: 75px;
        height: 75px;
    }
}

/*-------------------Tablet------------------*/

@media all and (min-width: 768px){
    
    header {
        display: flex;
        border-style: solid;
        margin: 5px;
        padding: 5px;
        text-align: center;
    }
    
    #check-theme{
        flex-grow: 1;
        margin: 5px;
        padding: 5px;
    }
    #title{
        flex-grow: 4;
        font-size: 70px;
        margin: 5px;
        padding: 5px;
    }
    
    main{
        display: flex;
        position: relative;
    }
    nav{
        position: relative;
        top: 200px;
        width: 260px;
        border-style: solid;
    }
    nav h3{
        text-align: center;
        padding: 10px 0px 10px 0px;
        margin: 0px;
    }
    nav h2{
        padding: 10px 0px 10px 0px;
        border-bottom-style: solid;
        margin: 0px 0px 0px 0px;
        padding: 10px 0px 10px 10px;
        border-top-style: none;
    }
    nav form{
        padding-bottom: 20px;
    }
    #links{
        border-bottom-style: solid;
        text-align: left;
        margin: 5px;
        padding: 5px;
    }
    li:hover{
        cursor: pointer;
        position: relative;
        left: 20px;
        transform: scale(1.2);
        color: blueviolet;
    }
    #search-bar{
        flex-direction: column;
    }
    #search-block{
        text-align: center;
    }
    button{
        margin: 5px;
        padding: 5px;
    }
    #thumb-view{
        display: block;
        top: 180px;
        position: relative;
        text-align: center;
        flex: 4;
        margin-bottom: 20px;
    }
    #thumbnails{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: rgb(255, 255, 255);
        position: absolute;
        top: 180px;
        left: 270px;
    }
    #recent-view h2{
        display: block;
        text-align: center;
        padding: 5px;
        margin: 5px;
    }
    #recent-view{
        left: 0px;
        right: 0px;
        position: absolute;
        text-align: center;
        border-style: solid;
    }
    #recent{
        display: flex;
        position: -webkit-sticky;
        flex-wrap: wrap;
        padding: 0px 0px 0px 0px;
        justify-content: center;
    }
    #recent figcaption{
        display: block;
    }
    figure{
        margin: 5px;
        padding: 5px;
    }
    #recent-view img{
        width: 75px;
        height: 75px;
    }
    figure img{
        height: 200px;
    }

    figcaption{
        text-align: center;
    }
    footer{
        position: fixed;
        bottom: 1%;
    }
}

/*------------------Desktop-------------------*/

@media all and (min-width: 1024px){
    header {
        border-style: solid;
        text-align: center;
    }
    main{
        display: flex;
        position: relative;
        height: auto;
    }
    nav{
        position: initial;
        width: 260px;
        border-style: solid;
    }
    nav h3{
        text-align: center;
        padding: 10px 0px 10px 0px;
        margin: 0px;
    }
    nav h2{
        padding: 10px 0px 10px 0px;
        border-bottom-style: solid;
        margin: 0px 0px 0px 0px;
        padding: 10px 0px 10px 10px;
        border-top-style: none;
    }
    nav form{
        padding-bottom: 20px;
    }
    #links{
        border-bottom-style: solid;
        padding: 20px 0px 0px 20px;
    }
    li:hover{
        cursor: pointer;
        position: relative;
        left: 30px;
        transform: scale(1.2);
        color: white;
    }
    #thumb-view{
        top: auto;
        position: relative;
        left: auto;
        flex: 4;
        text-align: center;
        height: fit-content;
    }
    #thumbnails{
        top: 200px;
    }
    #recent-view{
        position: relative;
        margin-left: 10px;
        height: fit-content;
        width: -webkit-fill-available;
    }
    #recent {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 20px 0px 20px;
    }
    #recent-view figure{
        padding: 5px;
        margin: 5px;
    }
    #recent-view img{
        width: 100px;
        height: 100px;
    }
    figure img{
        width: 200px;
        height: 200px;
    }
    figcaption{
        text-align: center;
    }
    #thumbnails figure{
        text-align: center;
    }
}
